@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');
@import '@/style/variables.scss';


// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Common
body {
    background-color: $mainColor;
    font-family: 'Roboto', sans-serif;
    min-width: 1200px;
}

main {
    transition: opacity 2s ease-in;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

